spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/e-commerce
      auto-index-creation: true

server:
  port: 8080
  error:
    include-message: always

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.data.mongodb: DEBUG
    org.springframework.boot.autoconfigure: DEBUG
    org.springframework.security: DEBUG

springdoc:
  swagger-ui:
    operationsSorter: alpha
    tagsSorter: alpha
    doc-expansion: none